<ul>
  <% @movies.each do |m| %>
    <li>
      <%= m.title %>
      (<%= m.rating %>):
      <%# number_to_currency(m.total_gross, precision: 0) %>
      <%= total_gross(m) %>
    </li>
    <p>
      <%= truncate(m.description, length: 40, separator: ' ') %>
    </p>
    <p>
      <%= year_of(m) %>
    </p>
  <% end %>
</ul>
