<!-- <h1>Reviews for <%= @movie.title %></h1> -->
<h1>Reviews for <%= link_to @movie.title, @movie %></h1>

<!-- My version
<ul>
  <% @movie.reviews.each do |r| %>
    <li>
      <%= pluralize(r.stars, "star") %> by <%= r.name %>:
      <%= r.comment %><br>
      <%= time_ago_in_words(r.created_at) %> ago
    </li>
  <% end %>
</ul>
-->

<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= pluralize(review.stars, 'star') %>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= review.name %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
    </li>
  <% end %>
</ul>